.detailsPage{

    background-color: white;
    margin-bottom: -363px;

}

.basicInfo{

    color: black;
    text-align:center;
    position: relative;
    border: var(--border);
    border-radius: var(--border-radius);
    width: 300px;
    height: 240px;
    left: 694px;
    padding: 1rem;
    bottom: 209px;

}
.description{

    color: black;
    text-align:center;
    position: relative;
    bottom: 185px;

}
.tracklist{
    color: black;
    text-align:center;
    position: relative;
    bottom: 169px;

}
.personnel{

    color: black;
    text-align:center;
    position: relative;
    bottom: 130px;

}

.actions{

    position: relative;
    left: 49px;

}
.like{

    margin: 0.2%;
    color: black;
    border-radius: 20px;
    background-color: white

}
.like.active{

    background-color: #0A58CA;

}
.dislike{

    margin: 0.2%;
    color: black;
    border-radius: 20px;
    background-color: white;

}