.basicInfo{

    text-align:center;
    position: relative;
    bottom: 209px;

}
.description{

    text-align:center;
    position: relative;
    bottom: 185px;

}
.tracklist{

    text-align:center;
    position: relative;
    bottom: 169px;

}
.personnel{

    text-align:center;
    position: relative;
    bottom: 130px;

}

.actions{

    position: relative;
    left: 49px;

}
.like{

    margin: 0.2%;
    color: black;
    border-radius: 20px;
    background-color: white

}
.like.active{

    background-color: #0A58CA;

}
.dislike{

    margin: 0.2%;
    color: black;
    border-radius: 20px;
    background-color: white;

}