.homeBanner{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;

}
.cardTitle{

    font-weight: bold;
    font-size: 70px;
    color: white;

}
.cardBody{

    font-weight: normal;
    color: wheat;
    background-color: #ff000048;
    padding: 0px 20px;
    font-size: 51px;

}
.cardFooter{

    font-size: 70px;
    font-weight: bold;
    color: black;

}
.cardOverlay{

    padding: 0px 390px;

}