.music-box {
    padding: 90px 0px;
    background: #fff;
}
.music-box .for-box {
    padding: 0px 20px;
}
.music-box .for-box i {
    text-align: center;
    display: block;
}
.music-box .for-box h3 {
    padding-top: 28px;
    font-size: 20px;
    line-height: 25px;
    color: #030000;
    font-weight: bold;
    text-transform: uppercase;
}
.music-box .for-box p{
    font-size:16px;
    line-height:22px;
    color:#030000;
}
/** music-box **/
.img-box figure {
    margin: 0px;
}
.padding {
    padding: 0px;
}
.text-box {
    background: #ff1d00;
    width: 100%;
    height: 90%;
    margin: 32px 0px;
    box-sizing: border-box !important;
}
.text-box .box {
    padding-top: 80px;
    margin-left: -80px;
}
.text-box .box i {
    padding-bottom: 10px;
}
.text-box .box i img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}
.text-box .box h3 {
    font-size:55px;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 0px;
}
.text-box .box p {
    color: #fff;
    font-size: 17px;
    line-height: 22px;
}
.text-box .box a {
    max-width: 167px;
    background: #fff;
    color: #ff1d00;
    width: 100%;
    padding: 12px 0px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}
.text-box .box a:hover {
    background: #000;
    color: #ff1d00;
}