.login{

  position: absolute;
  right: 100px;

}
#userNav{

  color: white;
  position: absolute;
  right: 100px;
  padding: 7px;

}
.avatar{

  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: -13px;

}