/* .send {
    background: #000;
     border: #000 solid 1px;
     color: white;
     margin: 0 auto;
     display: block;
}
.send:hover {
    background: #f70e0e;
    border: #f70e0e solid 1px;
}

 .contactbg {
     background-color: #ff1e00b2;
     margin-bottom: 50px;
}
 .contactbg .contacttitlepage h2 {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 45px;
     padding: 40px 0;
     font-weight: 500;
     text-align: center;
}
.contact {
    background: #0f69c6;
    padding: 60px 0px;
}
.contact .titlepage {
    text-align: center;
}
.contact .contact {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 30px;
}
.contactus {
    border: #b1b0b0 solid 1px;
    padding: 12px 19px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #000;
    width: 100%;
}
.textarea {
    margin-bottom: 25px;
    padding: 12px 19px;
    color: #000 !important;
    width: 100%;
    border: #b1b0b0 solid 1px;
    border-radius: 10px;
}
.send {
    font-size: 16px;
    border: #fff solid 1px;
    padding: 10px 50px;
    background-color: black;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    color: white;
}
.send:hover {
    background-color: #f70e0e;
    border: #f70e0e solid 1px;
    color: #fff;
} */